#promocoes {
  padding: 1.25rem;
  border-radius: 5px;
  background-color: rgba(208, 190, 190, 0.7);
  height: 100vh;

  .destaque {
    gap: 5rem;
    margin: 2rem 0;

    .destaque-item {
      display: flex;
      gap: 2rem;
      align-items: center;

      h3 {
        font-size: 2rem;
        color: #b9296f;
        margin: 1rem 0;
        padding: 1rem;
      }

      figure {
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;

        img {
          width: 100%;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        figcaption {
          padding-top: 1rem;
          font-size: 0.875rem;
        }

        a {
          color: #ff007f;
          font-size: 0.875rem;
          transition: color 0.3s ease;
          font-family: cursive;
        }
      }
    }
  }
}